@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
  background-color: #F6F5F0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 20vh;
}

.worknav{
  margin-bottom: 3em;
}

.navleft > div > a {
  text-decoration: none;
  color: black;
}

.navright {
  display: flex;
  justify-content: center;
  gap: 2em;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  font-size: 1.75em;
}

.navleft {
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  width: 80vw;
}

.fa {
  padding: 1em;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  transition: ease-in-out;
  opacity: 70%;
}

.fa-facebook {
  width: 1.5em;
  color: black;
}

.fa-instagram {
  width: 1.5em;
  color: black;
}

.navright > a {
  text-decoration: none;
  color: black;
}

.imagecont {
  width: 100vw;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: 2em;
}

.works {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.foot {
  display: flex;
  justify-content: space-around;
  margin: 1em;
  font-size: 1.5em;
  height: 15vh;
}

.footleft > div > a {
  text-decoration: none;
  color: black;
}

.footleft > div > a:hover {
  transition: ease-in-out;
  opacity: 70%;
}

.footleft {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.footright {
  display: flex;
  align-items: center;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3em;
  gap: 2em;
}

.gallerycont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  opacity: 0;
  font-size: 2em;
  /*color: #D4D0CD;*/
  color: #F6F5F0;
  text-align: center;
  pointer-events: none;
}

.hover:hover {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

@media screen and (min-width: 1200px) and (min-height: 500px){
  .nav {
    flex-direction: row;
    margin-top: 2em;
  }

  .navleft {
    font-size: 4.5vw;
    width: 55vw;
    margin-left: 10vw;
    justify-content: left;
    margin-top: 0;
  }

  .navright {
    font-size: 2vw;
    width: 45vw;
    margin-right: 10vw;
    justify-content: right;
  }
}

@media screen and (max-width: 600px){
  .foot {
    flex-direction: column-reverse;
    font-size: 4vw;
  }

  .footright {
    justify-content: center;
  }

  .navleft {
    font-size: 10vw;
  }

  .navright {
    font-size: 5.5vw;
  }
}

@media screen and (min-width: 850px) {

  .text {
    font-size: 1.8vw;
  }

  .small {
    font-size: 1.25vw;
  }

  .gallery > div {
    gap: 1vw;
  }

  .works {
    height: 100%;
    width: auto;
  }

  .firstrow {
    /*height: 32vh;*/
    height: 18vw;
  }

  .secondrow {
    /* height: 32vh; */
    height: 18vw;
  }

  .thirdrow {
    /* height: 26vh; */
    height: 12vw;
  }

  .fourthrow {
    /* height: 38vh; */
    height: 22vw;
  }

  .fifthrow {
    /* height: 32vh; */
    height: 16vw;
  }

  .sixthrow {
    /* height: 40vh; */
    height: 26vw;
  }

  .seventhrow {
    /* height: 36vh; */
    height: 18vw;
  }

  .eighthrow {
    /* height: 40vh; */
    height: 26vw;
  }

  .gallerycont {
    height: 100%;
  }
}

@media screen and (max-height: 600px) {
  body {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav {
    flex-direction: row;
    margin-top: 1em;
    width: 100vw;
    font-size: 0.75em;
  }

  .foot {
    font-size: 1em;
  }

  .imagecont {
    width: 50vw;
  }

  .gallery {
    margin: 2em;
    gap: 2em;
  }

  .gallery > div {
    gap: 2em;
  }
}

@media screen and (max-height: 350px) and (max-width: 650px) {
  .foot {
    font-size: 1em;
  }

  .navleft {
    font-size: 2em;
  }

  .navright {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 550px) and (max-width: 850px) {
  .gallery {
    margin: 34vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  .gallerycont > div {
    gap: 2em;
  }
}

@media screen and (min-width: 850px) {

  .hover:hover .text {
    transition: .2s ease-in;
    opacity: 1;
  }
  
  .hover:hover .works {
    filter: brightness(40%);
    transition: .2s ease-in;
  }

}
